@charset "UTF-8";

body{
    height: 100vh;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    justify-content: center;
    margin: 0%;
}
#principal{
    position: relative;
    text-align: center;
}
.titulo{
    background-color: rgba(152, 0, 0, 0.777);
    color: white;
    width: 445px;
    height: 35px;
    padding: 3px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(96, 0, 0, 0.514);
}
.estrela{
    position: relative;
    width: 300px;
    height: 300px;
    text-align: center;
}
#servico{
    text-align: center;
    background-color: rgba(152, 0, 0, 0.777);
    color: white;
    width: 200px;
    height: 25px;
    padding: 3px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(96, 0, 0, 0.514);
}
p{
    font-size: large;
    text-align: justify;
    text-indent: 20px;
    width: auto;
    text-align: center;
    margin: auto;
}
.emergencia{
    display: inline-block;
    width: 400px;
    background-color: white;
    margin: auto;
}
#nav1{
    background-color: #AF3939;
    width: auto;
    height: 20px;
    padding: 8px;
    margin-top: 10px;
}
#nav1 > a{
    color: white;
    font-size: larger;
    margin-right: 50px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    border-radius: 15px;
}
#nav1 > a:hover{
    color: rgb(255, 255, 255);
    background-color: #d24545;
    transition-duration: .5s;
}
#nav1 > a:visited{
    text-decoration: none;
}
#nav1 > a:active{
    color: rgb(255, 0, 0);
}