@charset "UTF-8";
/*
em HTML id = # em css
em HTML class = . em css
*/

body{
    background-color: lightgreen;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(1, 91, 1);
}
h1#Principal{
    text-align: center;
    background-color: green;
    color: white;
}
h2{
    color: green;
}
.basico{
    color: green;
}
.intermediario{
    color: yellow;
}
.avancado{
    color: red;
}
.destaque{
    background-color: yellow;
    padding: 3px;
}